/* Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #991313;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #bf1a1a;
}

/* Container */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

/* PDF Container */
.pdf-container {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pdf-container iframe {
    width: 100%;
    height: 1000px;
    border: none;
    border-radius: 5px;
}

/* Navigation Buttons */
.nav-buttons-container {
    text-align: center;
    margin-top: 20px;
}

.nav-buttons-container button {
    margin: 0 10px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-buttons-container button:hover {
    background-color: #555;
}
